* {
  box-sizing: border-box;
  /* هنا يحسب الحدود من قيمة الحجم الطبيعي اي لايتغير الحجم عند انشاءالحدود */
  /* box-sizing: content-box; */
  /*هنا يضيف على العرض او الحجم الموجود حجم الحدود*/
}

body {
  margin: 0 5% 0 10%;
  padding: 0%;
  font-family: "Courier New", Courier, monospace;
  /* background-image: url(./image/look.jpg); */
}

:root {
  --height: 50em;
  --main_color: #eddf20;
  --border: 2px solid var(--main_color);
}

/* --------------------------------------navigtion- */

nav {
  margin: 0%;
  padding: 20px 0 100px 0;
  width: 85%;
  height: 100px;
  z-index: 10;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0px;
}

#logo {
  padding: 0%;
  text-align: center;
  float: left;
}

#logo span {
  font-weight: 600;
  font-size: medium;
}

#logo span a {
  margin: auto;
  text-decoration: none;
  color: white;
}

/* ++++++++++++++++++++ name */

#aside_namebar {
  margin-left: -130px;
  float: left;
  position: fixed;
}

.name_sidebar {
  /* width: auto 1px; */
  margin: auto 1px;
  padding: 20px;
  font-size: 11px;
  font-weight: 900;
  writing-mode: vertical-lr;
  text-orientation: upright;
  /* text-shadow: 25px 10px 3px #eddf20; */
  border: 2px dashed #cece18;
  border-bottom: 0px;
  border-top: 0px;

  transition: border-left-color 0.1s;
  transition: border-right-color 0.5s;
  transition: box-shadow 0.5s;
}

/* 
<h1 class="name_sidebar" id="name0">
        <span id="char1M">M</span>
        <span id="char2A">A</span>
        <span id="char3H">H</span>
        <span id="char4M">M</span>
        <span id="char5O">O</span>
        <span id="char6U">U</span>
        <span id="char7D">D</span>
        <span id="char8-">-</span>
        <span id="char9T">T</span>
      </h1> */
#name0 {
  height: 150px;
  /* width: 30px; */
  margin-top: 20px;
}

#name0 span {
  display: inline-block;
  margin-bottom: -12px;
}

#char1M {
  transition: text-shadow 0.1s;
}
#char2A {
  transition: text-shadow 0.2s;
}
#char3H {
  transition: text-shadow 0.3s;
}
#char4M {
  transition: text-shadow 0.4s;
}
#char5O {
  transition: text-shadow 0.5s;
}
#char6U {
  transition: text-shadow 0.6s;
}
#char7D {
  transition: text-shadow 0.7s;
}
#char8- {
  transition: text-shadow 0.8s;
}
#char9T {
  transition: text-shadow 0.9s;
}

#name0:hover #char1M {
  text-shadow: -2px 3px 1px #cece18;
}
#name0:hover #char2A {
  text-shadow: -2px 3px 1px #cece18;
}
#name0:hover #char3H {
  text-shadow: -2px 3px 1px #cece18;
}
#name0:hover #char4M {
  text-shadow: -2px 3px 1px #cece18;
}
#name0:hover #char5O {
  text-shadow: -2px 3px 1px #cece18;
}
#name0:hover #char6U {
  text-shadow: -2px 3px 1px #cece18;
}
#name0:hover #char7D {
  text-shadow: -2px 3px 1px #cece18;
}
#name0:hover #char8- {
  text-shadow: -2px 3px 1px #cece18;
}
#name0:hover #char9T {
  text-shadow: -2px 3px 1px #cece18;
}
.name_sidebar:hover {
  box-shadow: 0px 0px 20px #cece18;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
}

/* #name1 {
  margin-top: 20px;
}

#name2 {
  margin-top: 25px;
}

#name3 {
  margin-top: 35px;
}

#name4 {
  margin-top: 45px;
}

#name5 {
  margin-top: 60px;
}

#name6 {
  margin-top: 70px;
} */

/* _________________ name */

nav #navbar {
  float: right;
  margin: 5px 0px;
}

#navbar ul {
  font-size: large;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

#navbar ul li {
  margin-top: 15px;
}

#navbar ul a {
  margin: 10px 0px;
  padding: 5px 30px;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s;
  transition: box-shadow 0.4s;
}

#navbar ul li a:hover {
  color: black;
  font-weight: bold;
  box-shadow: 10px 5px 1px #c0b631c7;
  background-color: #eddf20;
}

/* ____________________________________________________ */

/* ------------------------------------------------ sidebar- */

#aside_header {
  width: 10%;
  height: 50em;
  margin: 120px 0 0 0;
  padding: 0;
  float: left;
  position: relative;
}

#aside_header ul {
  color: #ffffff;
  font-size: small;
  font-weight: 500;
  list-style-type: none;
  margin: 30px;
  padding: 0px;
  position: absolute;
  top: 100px;
}

#aside_header ul li {
  margin: 30px;
  padding: 5px;
  border: 1px solid #eddf20;
  border-radius: 25px;
  transition: background-color 0.3s;
  transition: box-shadow 0s;
}

#aside_header ul li:hover {
  font-weight: 800;
  color: black;
  background-color: #eddf20;
  box-shadow: 0px 0px 20px #eddf20;
}

#aside_header h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #eddf20;
  margin: 47px;
  position: absolute;
  bottom: 100px;
}

#aside_header h2 sup {
  color: white;
  font-size: medium;
  font-weight: 500;
}

/* ____________________________________________________ */

/* ----------------------------------------header */

header {
  width: 90%;
  height: 50em;
  margin: 120px 0 0 0;
  padding: 0px;
  float: right;
}

/* --- */

#left_bart {
  width: 50%;
  height: 75%;
  margin: 100px 0px;
  float: left;
  position: relative;
}

#left_bart h1 {
  font-size: 40px;
  color: var(--main_color);
  margin-bottom: 5px;
}

#left_bart h2 {
  font-size: 30px;
  color: white;
  margin-top: 5px;
}

#left_bart p {
  font-size: 20px;
  color: var(--main_color);
}

#left_bart button {
  font-size: medium;
  color: var(--main_color);
  background-color: black;
  border: 1px solid var(--main_color);
  padding: 10px 20px;
  position: absolute;
  bottom: 45px;
  transition: box-shadow 0.5s;
  transition: background-color 0.7;
}

#left_bart button:hover {
  color: black;
  font-weight: bold;
  box-shadow: 10px 5px 1px #c0b631c7;
  background-color: #eddf20;
}

/* --- */

#right_bart {
  width: 50%;
  height: 100%;
  float: right;
}

#right_bart img {
  width: 100%;
  height: 100%;
}

#right_bart {
  color: var(--main_color);
}

#moreInfo_virticalSHow {
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: relative;
  top: -400px;
  right: -8px;
}

#date {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--main_color);
  position: relative;
  top: -220px;
  right: -380px;
}

/* ____________________________________________________ */

/* ----------------------------components_section */

#components_section {
  width: 100%;
  height: 100em;
  position: relative;
  top: 60em;
}

#components_section h1 {
  width: 100%;
  height: 1.5em;
  font-size: 50px;
  text-align: center;
  margin: 0.5em 0px;
  padding-top: 1em;
  position: absolute;
  top: -1em;
}

/* +++++++++++++ components_bar */

#components_bar {
  width: 100%;
  height: 43em;
  margin: 10px 0px;
  position: absolute;
  top: 5em;
}

#components_bar div {
  width: 30%;
  height: 90%;
  margin: 1em 25px 1em 25px;
  padding: 2em 2em 1em 2em;
  border: 1px solid black;
  float: left;
  transition: border 0.7s linear;
}

#components_bar div:hover {
  border: 1px solid var(--main_color);
  background-color: #3b3b3a44;
  outline: 15px solid #3b3b3a44;
}

/* - */

#components_bar img {
  margin: 10px 2em;
  padding: 10px 0px 10px 110px;
}

/* - */

#components_bar h3 {
  width: 80%;
  height: 2em;
  text-align: center;
  margin: 2em 2em 1em 2em;
  padding: 10px 10px;
  font-weight: bolder;
}

/* -- */

#components_bar ul {
  width: 80%;
  height: 10em;
  margin: 10px 2em 10px 2em;
  padding: 10px 0px 10px 70px;
}

#components_bar div li {
  margin: 20px 0px;
  font-size: large;
}

/* -- */

#components_bar div button {
  width: 15em;
  height: 3em;
  margin: 8em 0 3em 7em;
  font-size: small;
  color: var(--main_color);
  background-color: black;
  border: 1px solid var(--main_color);
  transition: box-shadow 0.5s;
  transition: background-color 0.7;
}

#components_bar div button:hover {
  color: black;
  font-weight: bold;
  box-shadow: 10px 5px 1px #c0b631c7;
  background-color: #eddf20;
}

/* ____________________________________________________ */

/* --------------------------------------process_bar */

#process_bar {
  width: 100%;
  height: 43em;
  margin: 10px 0px;
  position: absolute;
  top: 55em;
}

#process_bar > h1 {
  position: absolute;
  top: -0.5em;
}

/* - */

#left_div {
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 30px 20px 0 0;
  background-image: url("./image/data-science\ mind.jpg");
  background-size: cover;
  float: left;
}

#left_div > div {
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 50%;
}

#left_div h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 900;
}

#left_div p {
  margin: 0;
  padding: 30px 0;
  font-weight: bolder;
}

#left_div ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 40px;
  font-weight: bold;
  color: var(--main_color);
}

/* - */

/* -- */

#right_div {
  width: 70%;
  height: 100%;
  margin: 0;
  float: right;
}

/* rightDiv_top +++ */

#rightDiv_top {
  width: 100%;
  height: 50%;
  margin: 0;
}

/* left */

#rightDivTop_left_nav {
  width: 46%;
  height: 87%;
  background-color: #3b3b3a9a;
  margin: 30px 15px 15px 30px;
  padding: 30px 5px 100px 5px;
  position: relative;
}

#rightDivTop_left_nav h2 {
  margin-top: 50px;
}

#rightDivTop_link_more {
}

.link_more {
  text-decoration: none;
  color: var(--main_color);
  font-size: x-large;
  font-weight: 600;
  position: absolute;
  bottom: 25px;
  right: 30px;
  transition: text-shadow 0.2s ease;
  transition: border 0.2s ease;
}

.link_more:hover {
  border: 2px solid rgba(0, 0, 0, 0.37);
  border-radius: 50px;
  text-shadow: 0px 0px 20px var(--main_color);
}

/* right */

#rightDivTop_right_nav {
  width: 32.2%;
  height: 43.5%;
  margin: 30px 30px 15px 15px;
  padding: 0;
  position: absolute;
  right: 0;
}

#topRightNav_left_SImg {
  background-image: url(./image/Robot\ Data\ GIF\ by\ Ekdojo\ -\ Find\ &\ Share\ on\ GIPHY.gif);
  background-size: cover;
  filter: grayscale(50%);
  width: 47%;
  height: 100%;
  margin-right: 15px;
  float: left;
}

#topRightNav_right_SImg {
  background-image: url(./image/50+\ Hud\ Element\ Pack.jpg);
  background-size: cover;
  filter: grayscale(50%);
  width: 47%;
  height: 100%;
  margin-left: 15px;
  float: right;
}

/* . */

/* rightDiv_buttom +++ */

#rightDiv_buttom {
  width: 70%;
  height: 50%;
  position: absolute;
  margin-bottom: 0;
}

#rightDivButtom_left_nav {
  width: 46%;
  height: 87.5%;
  margin: 15px 15px 30px 30px;
  padding: 0;
}

#buttomRightNav_left_SImg {
  background-image: url(./image/AI\ Data\ and\ Private\ Law\ by\ Gary\ Chan\ Kok\ Yew\ Hardcover\ _\ Indigo\ Chapters.jpg);
  background-size: cover;
  filter: grayscale(50%);
  width: 47%;
  height: 100%;
  margin-right: 15px;
  float: left;
}

#buttomRightNav_right_SImg {
  background-image: url(./image/Data\ &\ Infographic\ PLUS.jpg);
  background-size: cover;
  filter: grayscale(50%);
  width: 47%;
  height: 100%;
  margin-left: 15px;
  float: right;
}

#rightDivButtom_right_nav {
  width: 46%;
  height: 87%;
  background-color: #3b3b3a9a;
  margin: 15px 30px 30px 15px;
  padding: 50px 5px 100px 5px;
  position: absolute;
  right: 0;
  /* position: relative; */
}

/* ____________________________________________________ */

/* ----------------------------- jobs_roles */

#jobs_roles {
  margin: 1000px 0 0 0;
  width: 100%;
}

.jobsRoles_arrow {
  height: 50px;
  width: 6%;
  margin: 100px 50px;
  padding: 0;
}

#jobsRoles_left_arrow {
  background-image: url("./image/icons8-tableau-software-50.png");
  background-repeat: no-repeat;
  float: left;
}

#jobsRoles_sup {
  margin: 30px 5px;
  width: 75%;
  float: left;
}

.jobsRoles_role {
  margin: 30px 10%;
  width: 80%;
  border-bottom: 1px dashed var(--main_color);
}

#jobsRoles_right_arrow {
  background-image: url("./image/icons8-tableau-software-50.png");
  background-repeat: no-repeat;
  float: right;
}

#jobs_roles > h2 {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.jobsRoles_title {
  text-align: center;
}

.jobsRoles_title h3 {
  font-size: 30px;
  color: var(--main_color);
  margin: 10px 0;
}

.jobsRoles_title h4 {
  font-size: 25px;
  margin-top: 20px;
}

#info_senior_7M-T {
  width: 100%;
  height: 45em;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-image: url(./image/1638202325228.png);
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
  margin-top: 40px;
  color: var(--main_color);
  position: relative;
  top: -30px;
}

#info_senior_7M-T > img {
  margin: 20px 0 0 0;
  border-radius: 150px;
  filter: drop-shadow(0px 0px 15px var(--main_color));
}

#infoSenior > h2 {
  color: white;
  font-size: 25px;
  margin: 25px 0;
}

#info_link > a {
  background-color: black;
  text-decoration: none;
  color: var(--main_color);
  font-size: large;
  margin: 10px;
  transition: font-size 0.5s linear;
}

#info_link > a:hover {
  font-size: 25px;
  font-weight: bolder;
}

/* ____________________________________________________ */
